# Secrets and environment files
.env
appsettings.Development.json
appsettings.Production.json

# User secrets
**/Properties/launchsettings.json

# Database files
**/Migrations
*.db
*.db-shm
*.db-wal

# Project files
**/obj
**/bin

# Logs
*.log
npm-debug.log*

# Dependencies
**/node_modules
**/package-lock.json
**/package.json

# Build outputs
dist/
build/
.expo/